@use "../colors" as *;
@use "../breakpoints" as *;

// mobile
.design_solutions{
  text-align: center;
  padding: 6.6rem 5% 0 5%;
  h1{
    margin-bottom: 2.3rem;
  }
  ul{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    li{
      border: 1px solid rgb(215, 215, 215);
      border-radius: 1rem;
      padding-block: 2rem;
      img{
        width: 50%;
      }
    }
  }
}

// tablet
@include responsive($tablet){
  .design_solutions ul{
    grid-template-columns: 1fr 1fr;
  }
}

//desktop
@include responsive($desktop){
  .design_solutions ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
}