$black: rgb(3, 3, 3);
$gray: rgb(122, 116, 110);;
$white: rgb(255, 247, 240);
$purple: rgb(54, 39, 124); 
$orange: rgb(169, 91, 19); 
$pink: rgb(153, 82, 82); 
$red: rgb(179, 46, 22); 
$aqua: rgb(30, 134, 115); 
$dark-purple: rgb(55, 21, 43); 
 $body-background: #ffffff;